<!DOCTYPE HTML>

{% load staticfiles %}

<html>
	<head>

		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link type="text/css" href="{% static 'boxcar/css/boxcar.css' %}" rel="stylesheet">

		<script type="text/javascript">

			$(document).ready(function(){

				$.ajaxSetup({ 
		            beforeSend: function(xhr, settings) {
		              function getCookie(name) {
		                var cookieValue = null;
		                if (document.cookie && document.cookie != '') {

		                  var cookies = document.cookie.split(';');
		                  for (var i = 0; i < cookies.length; i++) {

		                    var cookie = jQuery.trim(cookies[i]);
		                    // Does this cookie string begin with the name we want?
		                    if (cookie.substring(0, name.length + 1) == (name + '=')) {

		                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                      break;
		                    }
		                  }
		                }

		                return cookieValue;
		              }

		              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		                // Only send the token to relative URLs i.e. locally.
		                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		              }
		            } 
		          });

			});


		</script>

		{% block head %}{% endblock %}

		<title>Boxcar!</title>

	</head>

	<body>

		{% block content %}{% endblock %}
		
	</body>

</html>