{% extends "base.html" %}

{% block head %}

	<script type="text/javascript">

		$(document).ready(function(){
            var cookbooks = [];
            var ports = [];

            add_cookbook = function(cookbook) {
                console.log('Adding cookbook: ' + cookbook);

                cookbooks.push(cookbook);
                $(".cookbook_container").append("<div class=' well cookbook' id=" + cookbook + ">" + cookbook + " <a href='#' class='remove_cookbook'>x</span></div>");

                // update form
                $(document).find("input[name='cookbooks']").val(cookbooks);

                console.log('Cookbooks: ' + cookbooks);
            };

			$('.typeahead').typeahead({
		        source: function(query, process) {
                    console.log('Posting...');
                    $.post('{% url 'boxcar.views.get_cookbooks' %}', {search_term: query}, function (data) {
                        console.log('Data: ' + data);
                        console.log('Type: ' + typeof JSON.parse(data))
                        process(JSON.parse(data));
                    });
                },
                updater: function(item) {
                    add_cookbook(item);
                }
            });

            $(document).on("click", ".remove_cookbook", function(e){

                $(e.currentTarget).parent().slideUp();
                cookbook = $(e.currentTarget).parent().attr("id");

                console.log('Removing cookbook: ' + cookbook);

                cookbooks.splice( $.inArray(cookbook,cookbooks) ,1 );

                // update form
                $(document).find("input[name='cookbooks']").val(cookbooks);

                console.log('Cookbooks: ' + cookbooks);
                return false;
            });

            $(document).on("click", ".remove_port", function(e){

				$(e.currentTarget).parent().slideUp();
                port = $(e.currentTarget).parent().parent().attr("id");

                console.log('Removing port: ' + port);

                ports.splice( $.inArray(port,ports) ,1 );
                // update form
                $(document).find("input[name='ports']").val(ports);

                console.log('Ports: ' + ports);
				return false;
			});

			$(document).on("click", "#add_port", function(e){

                console.log('Adding port: ' + port_number);

				var port_number = $(document).find("input[name='port_number']").val();

				$(".forwarded_port_container").append("<div class='port_number' id=" + port_number + "><span>" + port_number + " <a href='#' class='remove_port'>x</span></span></div>");

                // add to ports array
                ports.push(port_number);
                // update form
                $(document).find("input[name='ports']").val(ports);

                console.log('Ports: ' + ports);
				return false;

			});

            $(document).on("click", "#generate_env", function(e) {
                memory = 512;
                memory_unit = 'MB';
                $.post('{% url 'boxcar.views.create_environment' %}', {ports: ports, cookbooks: cookbooks, memory: memory, memory_unit: memory_unit} );
            });

		});

	</script>

{% endblock %}

{% block content %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Boxcar</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Generate</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <h1>
        Boxcar
    </h1>
    <p>
        Fill in the info below and we'll configure a downloadable Vagrant package,
        just for you!
    </p>

    <form id="generate_form" method="post" action="{% url 'boxcar.views.create_environment' %}">
    	{% csrf_token %}

    	<div class="row">
    		<div class="span4">
                <h3>Base Box Name</h3>

                <input type="text" name="base_box_name" placeholder="Name of Vagrant base box..." />

    			<h3>Boxes</h3>

    			<div class="box_container"></div>

    			<a href="#" class="btn">Add Box</a>

    		</div>

    		<div class="span4">

    			<h3>Chef Recipes</h3>
    			
    			<input id="search_input" type="text" class="typeahead" placeholder="Search..." />
                <input type="hidden" name="cookbooks" />
    			<div class="cookbook_container"></div>

    		</div>

    		<div class="span4">

    			<h3>Memory</h3>

    			<input type="text" name="memory_size" />

    			<select name="memory_size_unit">
    				<option value="MB">MB</option>
    				<option value="GB">GB</option>
    			</select>

    			<h3>Forwarded Ports</h3>
    			<input type="text" name="port_number" />
    			<button id="add_port" class="btn">Add Port</button>
                <input type="hidden" name="ports" />

    			<div class="forwarded_port_container"></div>

    		</div>
    	</div>

    	<div class="row">
    		<div class="span12">
                <center>
    			<button class="btn-primary" type="submit" id="generate_env">Generate Environment</a>
                </center>
    		</div>
    	</div>
    </form>
</div>
<!-- /container -->

{% endblock %}