{% extends "base.html" %}

{% block head %}

	<script type="text/javascript">

		$(document).ready(function(){

			// Initialize typeahead search field
			/*$('.ajax-typeahead').typeahead({
		    source: function (query, process) {
    			return $.ajax({
      			type: "POST",
      			url: '{% url 'boxcar.views.get_cookbooks' %}',
      			data: "{search_term: '" + query + "'}",
      			contentType: "application/json; charset=utf-8",
      			dataType: "json",
      			success: function (cookbooks) {
         			console.log(JSON.stringify(cookbooks));
      			}
    			});
  			}
			});*/
			$('.ajax-typeahead').typeahead({
		    source: function (query, process) {
    	    return $.post('{% url 'boxcar.views.get_cookbooks' %}', {search_term: query }, function (cookbooks) {
            console.log('Results: ' + JSON.stringify(cookbooks));
            process(cookbooks)
      	  });
		    }
			});

			$(document).on("click", ".remove_port", function(e){

				$(e.currentTarget).parent().slideUp();

				return false;
			});

			$(document).on("click", "#add_port", function(e){

				var port_number = $(document).find("input[name='port_number']").val();

				$(".forwarded_port_container").append("<div class='port_number_" + port_number + "'><span>" + port_number + " <a href='#' class='remove_port'>x</span></span></div>");

				$(document).find("input[name='port_number']").val("");

				return false;

			});

			$(document).on("click", "#search", function(e){

				var search_term = $("#search_input").val();

				$.ajax({
					url: '{% url 'boxcar.views.get_cookbooks' %}',
					data: {'search_term': search_term},
					type: "POST",
					dataType: "json",
					success: function(response){
						for(var i = 0;i < response.length;i++) {
							// create a thumbnail for each cookbook
							$(".cookbook_container").append("<div class='well'>" + JSON.stringify(response[i]) + "</div>");
						}

						$(".cookbook_container").html(response);
					}
				});

				return false;
			});

		});

	</script>

{% endblock %}

{% block content %}

<form method="post" action="{% url 'boxcar.views.create_environment' %}">
	{% csrf_token %}

	<div class="row">

		<div class="span4">

			<h3>Boxes</h3>

			<div class="box_container"></div>

			<a href="#" class="btn">Add Box</a>

		</div>

		<div class="span4">

			<h3>Chef Recipes</h3>
			
			<input id="search_input" type="text" class="ajax-typeahead" placeholder="Search..." /><a id="search" class="btn">Search</a>

			<div class="cookbook_container"></div>

		</div>

		<div class="span4">

			<h3>Memory</h3>

			<input type="text" name="memory_size" />

			<select name="memory_size_unit">
				<option value="MB">MB</option>
				<option value="MB">GB</option>
				<option value="MB">TB</option>
			</select>

			<h3>Forwarded Ports</h3>

			<input type="text" name="port_number" />

			<button id="add_port" class="btn">Add Port</button>

			<div class="forwarded_port_container"></div>

		</div>

	</div>

	<div class="row">

		<div class="span12">

			<button class="btn">Generate Environment</a>

		</div>

	</div>

</form>

{% endblock %}