{% extends "base.html" %}

{% block content %}

<div class="row">

	<div class="span4">

		<h3>Boxes</h3>

		<div class="box_container"></div>

		<a href="#" class="btn">Add Box</a>

	</div>

	<div class="span4">

		<h3>Chef Recipes</h3>

		<form>
			<input type="text" placeholder="Search..." />
		</form>

		<div class="cookbook_container"></div>

	</div>

	<div class="span4">

		<h3>Memory</h3>

		<input type="text" name="memory_size" />

		<select name="memory_size_unit">
			<option value="MB">MB</option>
			<option value="MB">GB</option>
			<option value="MB">TB</option>
		</select>

		<h3>Forwarded Ports</h3>

		<input type="text" name="port_number" />

		<button class="btn">Add Port</button>

		<div class="forwarded_port_container"></div>
		
	</div>

</div>

{% endblock %}